<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="descalexis.gmail.com.tournamentarchitect">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/tournament_architect_logo_lowres"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar">
        <activity
            android:name="descalexis.gmail.com.tournamentarchitect.activities.HomeActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/title_activity_home"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="descalexis.gmail.com.tournamentarchitect.activities.CreateTournamentActivity"
            android:label="@string/title_activity_create_tournament"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="descalexis.gmail.com.tournamentarchitect.activities.EditTeamActivity"
            android:label="EditTeam"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="descalexis.gmail.com.tournamentarchitect.activities.FlagSelectionActivity"
            android:label="@string/title_activity_flag_selection"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="descalexis.gmail.com.tournamentarchitect.activities.RoundActivity"
            android:label="@string/title_activity_round"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="descalexis.gmail.com.tournamentarchitect.activities.MatchViewActivity"
            android:label="@string/title_activity_match_view"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="descalexis.gmail.com.tournamentarchitect.activities.StandingsActivity"
            android:label="@string/title_activity_standings"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="descalexis.gmail.com.tournamentarchitect.activities.LoadTournamentActivity"
            android:label="@string/title_activity_load_tournament"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="descalexis.gmail.com.tournamentarchitect.activities.MatchesActivity"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="descalexis.gmail.com.tournamentarchitect.activities.DropboxSyncActivity"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask" >
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-drnhvv07gtk5pvu" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>


</manifest>